* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100%;
}
.frame2 {
  position: absolute;
  width: 100%;
  height: 47px;
  left: 0px;
  top: 0px;
  background: #2a2a2a;
}
.vector {
  position: absolute;
  left: 8.33%;
  right: 8.33%;
  top: 16.67%;
  bottom: 16.67%;
}
.vector2 {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 180px;
  top: 11px;
}
.email {
  position: absolute;
  width: 114px;
  height: 9px;
  left: 218px;
  top: 18px;
  font-family: "Cerebri Sans Pro";
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;

  color: #ffffff;
}
.vector3 {
  position: absolute;
  width: 0px;
  height: 14px;
  left: 349px;
  top: 16px;

  border: 1px solid rgba(255, 255, 255, 0.5);
}
.text2 {
  position: absolute;
  width: 186px;
  height: 9px;
  left: 369px;
  top: 19px;

  font-family: "Cerebri Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;

  color: #ffffff;
}
.facebook {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 854px;
  top: 14px;
}
.whatsapp {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 892px;
  top: 14px;
}
.instagram {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 930px;
  top: 14px;
}
.twitter {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 968px;
  top: 14px;
}
.engilish_flag {
  position: absolute;
  width: 27px;
  height: 14px;
  left: 1026px;
  top: 16px;

  background: url(united-kingdom.png), #ffffff;
}
.english_text {
  position: absolute;
  width: 42px;
  height: 9px;
  left: 1062px;
  top: 18px;

  font-family: "Cerebri Sans Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;

  color: #ffffff;
}
.past_strelka {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 1110px;
  top: 14px;
}
.vector4 {
  position: absolute;
  width: 0px;
  height: 14px;
  left: 1148px;
  top: 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.user
{
    position: absolute;
width: 24px;
height: 24px;
left: 1168px;
top: 16px;
}
.login{
    position: absolute;
width: 32px;
height: 9px;
left: 1198px;
top: 18px;

font-family: 'Cerebri Sans Pro';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
display: flex;
align-items: center;

color: #FFFFFF;
}
.section2
{
    position: absolute;
width: 1920px;
height: 80px;
left: 0px;
top: 47px;

background: #FFFFFF;
}
.fruit{
    position: absolute;
width: 179px;
height: 29px;
left: 190px;
top: 21px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 40px;
/* or 111% */

display: flex;
align-items: center;
text-transform: capitalize;
color: #2A2A2A;
}
.home{



position: absolute;
width: 52px;
height: 13px;
left: 480px;
top: 33px;

font-family: 'Cerebri Sans Pro';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: #7FAD39;
}
.SHOP{
/* SHOP */

position: absolute;
width: 47px;
height: 13px;
left: 667px;
top: 33px;

font-family: 'Cerebri Sans Pro';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: #2A2A2A;



}
.PAGES{
  /* PAGES */

position: absolute;
width: 52px;
height: 13px;
left: 754px;
top: 34px;

font-family: 'Cerebri Sans Pro';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: #2A2A2A;


}

.BLOG{
  /* BLOG */

position: absolute;
width: 43px;
height: 13px;
left: 846px;
top: 34px;

font-family: 'Cerebri Sans Pro';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: #2A2A2A;


}


.CONTACT{
  /* CONTACT */

position: absolute;
width: 78px;
height: 13px;
left: 929px;
top: 34px;

font-family: 'Cerebri Sans Pro';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: #2A2A2A;


}
.engilish_flag_img{
  /* Rectangle 1 */

position: absolute;

height: 14px;
top: 16px;

background: url(united-kingdom.png), #FFFFFF;

}

.rasm{
  position: absolute;
width: 536px;
height: 356px;
left: 309px;
top: 42px;

background: url(uCrz4Z5ehRS6vyJioMJxMgJwpC6IjYa4J3VPstTGOGA_TXL+ZJ7hx3uxE6PGbDlzfMTcCQwmlFmcz0JgFqlVAsJUjOR+oTlA4jKlgKYdL7FyzkGblar5udGyciYZVbzMOd+boLYj2RhGmxW6JwbNQnFZFNM+QGcwBO1ooxHG74+M_O7QW1hOsQrTNhL6LSUm1EsKGRMDLiRnR57ksd83LN.jpg);
mix-blend-mode: darken;
}

.like{
  position: absolute;
  width: 24px;
  height: 24px;
  left: 1343px;
  top: 31px;
}
.daraja{
  /* Frame 8 */

position: absolute;
width: 14px;
height: 14px;
left: 1359px;
top: 25px;

background: #7FAD39;
border: 1px solid #FFFFFF;
border-radius: 50px;


}


.raqam{
  position: absolute;
width: 8px;
height: 9px;
left: 3px;
top: 2px;

font-family: 'Cerebri Sans Pro';
font-style: normal;
font-weight: 800;
font-size: 10px;
line-height: 12px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}
.paket{
  position: absolute;
  width: 24px;
  height: 24px;
  left: 1383px;
  top: 29px;
  
}
.daraja2{
  /* Frame 9 */

position: absolute;
width: 14px;
height: 14px;
left: 1396px;
top: 25px;
background: #7FAD39;
border: 1px solid #FFFFFF;
border-radius: 50px;

}
.item_text{
  /* item:$150.00 */

position: absolute;
width: 103px;
height: 13px;
left: 1430px;
top: 33px;

font-family: 'Cerebri Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: #999999;


}

.bold_text {
  font-weight: bold;
  color: #2A2A2A;
}
.menu{
  position: absolute;
width: 24px;
height: 24px;
left: 20px;
top: 17px;
}
.frame4{
  /* Frame 4 */

position: absolute;
width: 270px;
height: 50px;
left: 290px;
top: 127px;

background: #7FAD39;

}

.all_department{
  /* All Department */

position: absolute;
width: 123px;
height: 13px;
left: 64px;
top: 20px;

font-family: 'Cerebri Sans Pro';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: #FFFFFF;


}
.past_strelka2  {
  /* expand_more_black_24dp (1) */

position: absolute;
width: 24px;
height: 24px;
left: 226px;
top: 17px;


}
.frame5{
  box-sizing: border-box;

position: absolute;
width: 621px;
height: 50px;
left: 580px;
top: 127px;

background: #FFFFFF;
border: 1px solid rgba(42, 42, 42, 0.2);
}

.frame5_text{
  /* All Categories */

position: absolute;
width: 113px;
height: 13px;
left: 20px;
top: 18px;

font-family: 'Cerebri Sans Pro';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: #2A2A2A;


}
.frame5_past_strelka{
  /* Vector */

/* expand_more_black_24dp (1) */

position: absolute;
width: 24px;
height: 24px;
left: 149px;
top: 13px;

}

.frame5_text2{
  /* What do you need? */

position: absolute;
width: 152px;
height: 13px;
left: 213px;
top: 18px;

font-family: 'Cerebri Sans Pro';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: #999999;


}
.search_btn{
  /* Frame 6 */

position: absolute;
width: 106px;
height: 50px;
left: 515px;
top: 0px;

background: #7FAD39;
cursor: pointer;
/* SEARCH */



}
.search_btn_text{
  position: absolute;
width: 67px;
height: 13px;
left: 19px;
top: 18px;

font-family: 'Cerebri Sans Pro';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}

.frame6{
  position: absolute;
  width: 50px;
  height: 50px;
  left: 1337px;
  top: 127px;
  
  background: #F5F5F5;
  border-radius: 600px;
}

.qongiroq{

position: absolute;
width: 24px;
height: 24px;
left: 13px;
top: 13px;


}
.tel_raqam{
/* +65 11.188.888 support 24/7 time */

position: absolute;
width: 126px;
height: 32px;
left: 1407px;
top: 136px;

font-family: 'Cerebri Sans Pro';
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 20px;
/* or 125% */
display: flex;
align-items: center;

color: #2A2A2A;




}
.raqamni_tagi{
  color: #999999;
  font-size: 11px;
}








@media only screen and (min-width: 1080px) {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    max-width: 100%;
  }
  .frame2 {
    left: 0px;
  }
  .vector {
    left: 8.33%;
  }
  .vector2 {
    left: 280px;
  }
  .email {
    left: 318px;
  }
  .vector3 {
    left: 449px;
  }
  .text2 {
    left: 469px;
  
  }
  .facebook {
    left: 1154px;
  }
  .whatsapp {
    left: 1192px;
  }
  .instagram {
    left: 1230px;
  }
  .twitter {
    left: 1268px;
  }
  .engilish_flag {
    left: 1326px;
   
  }
  .english_text {
    left: 1362px;

  }
  .past_strelka {
 
    left: 1410px;

  }
  .vector4 {

    left: 1448px;

  }
  .user
  {
  left: 1468px;

  }
  .login{

  left: 1498px;

  }
  .section2
  {

  left: 0px;
 
  }
  .fruit{

  left: 290px;

  }
  .home{

  left: 580px;
 
  }
  
 
}
.input_search{
box-sizing: border-box;
position: absolute;
width: 330px;
height: 50px;
left: 200px;
border: 1px solid rgba(42, 42, 42, 0.2);  
border-left: none;
}

.input_search_select{
  box-sizing: border-box;
  position: absolute;
  width: 200px;
  height: 50px;
  left: 0px;
  top:0;
  border: 1px solid rgba(42, 42, 42, 0.2);
  border-right: #7FAD39;
  }